/*common*/
@font-face{font-family:solaimanLipi;src:url(../SolaimanLipi.eot);src:local("solaimanLipi"),url(../SolaimanLipi.ttf) format("truetype")}
body,input{font-family:solaimanLipi,Arial,Vrinda,FallbackBengaliFont,Helvetica,sans-serif;
  background:#fff;font-size:1.5rem;color:#101010;line-height: 1.25;
}
h1,h2,h3,h4,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-weight: bold;}
a{
  color:#555;
}
a:hover{text-decoration:none;color:#000;}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-left: 2.22222vw;
  padding-right: 2.22222vw;
}

/*top-brand*/
.navbar-light .navbar-toggler-icon {
    
}
.nav-item{padding:5px 10px}
.top-brand{background: url(../img/top-band.jpg) repeat-x;width:100%;height:25px}
.navbar-brand img{}
.color-theme{color: #000 !important}
.color-theme2{color:#555 !important}

/*.color-violet{color:#540054 !important}
.color-yellow{color:#ffda26 !important}
.bg-violet{background:#540054 !important}
.bg-yellow{background:#ffda26 !important}*/

.bg-ash{background:#ededed}
.bg-theme{background:#000}
.border-theme{border: 1px solid #ddd)}

.border-color-ash{border-color:#ededed !important;}
.border-size-3{border-width:3px !important;}

.breadcrumb{padding-left:0;background-color:#fff}

.line-height-1{line-height:1rem}

.pagination li a,.theme-paginator{
    padding:20px;
    border:1px solid rgb(255, 255, 255);
    background:#eee;
    margin-right:10px;
    border-radius:5px;
    color:#2683ba;
}
.pagination li.active a,.theme-paginator.active{background:#fff;color:#006899}
.pagination li.disabled a{color:#b3b3b3}
.theme-botder-top{border-top:1px dotted #f3088a;}

.card {
	background:#EEE;
    border:none;
    border-radius: 0;
    height:100%;
}


.success {background: #bfb;padding: 20px;color: #080;}
.error{background: #fdd;padding: 20px;color: #900;}

.fsp121{font-size:121%}
.tbc{background:rgb(224, 224, 224);color:#000;}
.cart-size{position: absolute;right: -12px;padding: 2px 6px 3px 6px;font-size: 50%;color: #fff;background: rgb(153, 201, 205);top: -10px;border-radius: 50%;}
.spinner-grow{padding:7px 6px 10px 12px}


.imageBox {
  position: relative;
  float: left;
}

.imageBox .hoverImg {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.imageBox:hover .hoverImg {
  display: block;
}
.cartbox div{display:inline-block}
#cart_quantity{width: 50px;
    background: #ddd;
    border: 1px solid #eee;
    padding: 10px 5px 15px 10px;
}
.m-0-auto{margin:0 auto;}

.u-sep {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.u-sep-l, .u-sep-r {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-top: 1px dotted #000 !important;
    height: 1px;
}
.u-sep-r {
    margin-left: 1.5rem!important;
}
.u-sep-l {
    margin-right: 1.5rem!important;
}
h2.page-heading {
    font-size: 25px;
    font-weight: normal;
}

.publish_time {display: none;}

.fs-1em{
  font-size: 1em;
}
.jumbotron {
    padding: 1rem !important;
}
.form-control,.btn{font-size: 1.5rem;}
.search-icon {
  font-size: 40px;
  line-height: 30px;
  padding: 5px;
  margin-right: 10px;
  /*transform: rotate(270deg);*/
  color:#000;
}
.video-icon-inn{font-size: 50px;line-height: 1;position: absolute;top: 0;background: rgba(255,255,255,.5);}
a:hover .video-icon-inn {color:#8955AF;background: rgba(255,255,255,1);}

.video-icon-pre {
  font-size: 30px;
  line-height: .2;
}
.zindex-100{z-index:100}
#top .nav-item ul{display:none}
#top .nav-item:hover ul{display:block}

.onoffswitch3
{
position: relative; 
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
display: none;
}

.onoffswitch3-label {
display: block; overflow: hidden; cursor: pointer;
border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
display: block; width: 200%; margin-left: -100%;
-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0;color: white;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
padding-left: 10px;
background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
width: 100px;
padding-left: 16px;
background-color: #EEEEEE; color: #FFFFFF;
text-align: right;
}

.onoffswitch3-switch {
display: block; width: 50%; margin: 0px; text-align: center; 
border: 0px solid #999999;border-radius: 0px; 
position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
background: #bbb; left: 0;color:#000;
width: 160px;
}
.onoffswitch3-inactive{
background: #A1A1A1; right: 0;
width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
margin-left: 0;
}

.scroll-text{
color: #000;
}
.onoff{
background: #f14836;
padding: 0 10px;
line-height: 30px;
color: #fff;
}
.onoffswitch3-switch-2 {
position: absolute;
right: 0;
background: #f14836;
padding: 0 10px;
line-height: 30px;
top: 0;
color: #fff;
}

.homelive{
  border:3px solid #000;
}


@media (max-width: 767px) {
.m-text-center{text-align:center}
.mlogo{width: 100%;
   border-bottom: 1px solid #d9eefb;
   margin-bottom: 20px;
   padding-bottom: 20px;
   text-align: center;}

.logo{margin-left: -80px;}
   .navbar-toggler{
    position: fixed;
    right: 40px;
    top: 20px;
    background: #ddd;
    padding-top: 13px;
    z-index: 100;
}

.navbar-nav{display: block;}
.navbar-nav li {
  width: 49%;
  display: inline;
  float: left;
  text-align: center;
  background: #eee;
  border-bottom: 3px solid #fff;
}
.navbar-nav li:nth-child(2n) {
  margin-left: 2%;
}


}

}




